openapi: 3.0.3
info:
  title: DocumentationAI API
  version: 1.0.0
  description: |
    OpenAPI contract derived from API_DOCS.md for the current NestJS API.
    All routes are published under /api.
    GET /api/forward/confirm and GET /api/credentials/confirm can return HTML previews when Accept: text/html.
    POST /api/credentials/confirm can also return HTML on successful confirmation when Accept: text/html.
servers:
  - url: https://mail.haltman.io
    description: Production
tags:
  - name: Public
    description: Public read-only endpoints and compatibility mirrors.
  - name: Forwarding
    description: Email-confirmed alias creation and removal flow.
  - name: Check DNS
    description: Upstream DNS request proxy endpoints.
  - name: API Credentials
    description: API key issuance and confirmation flow.
  - name: Alias API
    description: API-key authenticated alias automation routes.
  - name: Auth
    description: Cookie-based authentication, session management, and password recovery.
  - name: Admin
    description: Admin-only CRUD and operational endpoints. Access cookie is required for all routes, and admin mutations also require X-CSRF-Token.
paths:
  /api/stats:
    get:
      tags: [Public]
      summary: Get aggregate platform counters
      operationId: getStats
      responses:
        '200':
          description: Aggregated counters.
          headers:
            Cache-Control:
              description: Returned on cache miss as public, max-age=60.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsSummary'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/api/stats:
    get:
      tags: [Public]
      summary: Get aggregate platform counters (compatibility mirror)
      operationId: getStatsCompatibility
      responses:
        '200':
          description: Aggregated counters.
          headers:
            Cache-Control:
              description: Returned on cache miss as public, max-age=60.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsSummary'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/domains:
    get:
      tags: [Public]
      summary: List active managed domains
      operationId: listDomains
      responses:
        '200':
          description: Active managed domains.
          headers:
            Cache-Control:
              description: Returned on cache miss as public, max-age=10.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          $ref: '#/components/responses/BannedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/api/domains:
    get:
      tags: [Public]
      summary: List active managed domains (compatibility mirror)
      operationId: listDomainsCompatibility
      responses:
        '200':
          description: Active managed domains.
          headers:
            Cache-Control:
              description: Returned on cache miss as public, max-age=10.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          $ref: '#/components/responses/BannedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/forward/subscribe:
    get:
      tags: [Forwarding]
      summary: Request alias creation confirmation email
      operationId: requestForwardSubscribe
      description: Use address plus to, or name plus to with optional domain.
      parameters:
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: email
          description: Destination email address.
        - name: address
          in: query
          required: false
          schema:
            type: string
          description: Full alias address. Cannot be combined with name or domain.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Alias local-part used when address is omitted.
        - name: domain
          in: query
          required: false
          schema:
            type: string
          description: Alias domain. Defaults to DEFAULT_ALIAS_DOMAIN when omitted.
      responses:
        '200':
          description: Confirmation email scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardSubscribeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/forward/unsubscribe:
    get:
      tags: [Forwarding]
      summary: Request alias removal confirmation email
      operationId: requestForwardUnsubscribe
      parameters:
        - name: alias
          in: query
          required: true
          schema:
            type: string
          description: Full alias address.
      responses:
        '200':
          description: Confirmation email scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardUnsubscribeResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/forward/confirm:
    get:
      tags: [Forwarding]
      summary: Preview pending forwarding confirmation
      operationId: previewForwardConfirmation
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pending confirmation preview. Can render JSON or HTML depending on Accept.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardConfirmPreviewResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/HtmlPage'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
    post:
      tags: [Forwarding]
      summary: Confirm alias creation or removal
      operationId: confirmForwardMutation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBody'
      responses:
        '200':
          description: Confirmation applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardConfirmResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/request/ui:
    post:
      tags: [Check DNS]
      summary: Create a UI DNS request
      operationId: createUiDnsRequest
      description: Proxies the request to the upstream check-dns service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetRequest'
      responses:
        '200':
          description: Upstream response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleObject'
        '202':
          description: Upstream accepted the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleObject'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /api/request/email:
    post:
      tags: [Check DNS]
      summary: Create an email DNS request
      operationId: createEmailDnsRequest
      description: Same contract as /api/request/ui, but creates an EMAIL request upstream.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TargetRequest'
      responses:
        '200':
          description: Upstream response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleObject'
        '202':
          description: Upstream accepted the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleObject'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /api/checkdns/{target}:
    get:
      tags: [Check DNS]
      summary: Fetch DNS status or results for a target
      operationId: getDnsStatus
      parameters:
        - $ref: '#/components/parameters/TargetPath'
      responses:
        '200':
          description: Upstream response payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexibleObject'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '502':
          $ref: '#/components/responses/BadGatewayResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /api/credentials/create:
    post:
      tags: [API Credentials]
      summary: Request API key creation confirmation
      operationId: createApiCredentialsRequest
      description: Accepts JSON body or query string. When both are present, the body takes precedence.
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 90
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialsCreateRequest'
      responses:
        '200':
          description: Confirmation flow started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '403':
          $ref: '#/components/responses/BannedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
  /api/credentials/confirm:
    get:
      tags: [API Credentials]
      summary: Preview pending API key confirmation
      operationId: previewApiCredentialConfirmation
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pending confirmation preview. Can render JSON or HTML depending on Accept.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsConfirmPreviewResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/HtmlPage'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
    post:
      tags: [API Credentials]
      summary: Confirm API key issuance
      operationId: confirmApiCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBody'
      responses:
        '200':
          description: API key issued. Can return HTML on successful confirmation when Accept is text/html.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsConfirmResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/HtmlPage'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/alias/list:
    get:
      tags: [Alias API]
      summary: List aliases owned by the API key
      operationId: listOwnedAliases
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
      responses:
        '200':
          description: Paginated alias list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasListResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/alias/stats:
    get:
      tags: [Alias API]
      summary: Get aggregate alias statistics for the API key owner
      operationId: getAliasStats
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Alias statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasStatsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/activity:
    get:
      tags: [Alias API]
      summary: List alias and confirmation activity
      operationId: listAliasActivity
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
      responses:
        '200':
          description: Activity events with offset-based pagination metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/alias/create:
    post:
      tags: [Alias API]
      summary: Create an alias for the API key owner
      operationId: createOwnedAlias
      security:
        - ApiKeyAuth: []
      description: Accepts JSON body or query string. When both are present, the body takes precedence.
      parameters:
        - name: alias_handle
          in: query
          required: false
          schema:
            type: string
        - name: alias_domain
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasCreateRequest'
      responses:
        '200':
          description: Alias created.
          content:
            application/json:
              schema:
                type: object
                required: [ok, created, address, goto]
                properties:
                  ok:
                    type: boolean
                  created:
                    type: boolean
                  address:
                    type: string
                  goto:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/alias/delete:
    post:
      tags: [Alias API]
      summary: Delete an alias owned by the API key
      operationId: deleteOwnedAlias
      security:
        - ApiKeyAuth: []
      description: Accepts JSON body or query string. When both are present, the body takes precedence.
      parameters:
        - name: alias
          in: query
          required: false
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AliasDeleteRequest'
      responses:
        '200':
          description: Alias deleted.
          content:
            application/json:
              schema:
                type: object
                required: [ok, deleted, alias]
                properties:
                  ok:
                    type: boolean
                  deleted:
                    type: boolean
                  alias:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
  /api/auth/sign-up:
    post:
      tags: [Auth]
      summary: Create an account and trigger email verification
      operationId: signUp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '202':
          description: Sign-up accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/auth/verify-email:
    post:
      tags: [Auth]
      summary: Confirm a user's email address
      operationId: verifyEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenBody'
      responses:
        '200':
          description: Email verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/auth/sign-in:
    post:
      tags: [Auth]
      summary: Authenticate and issue session cookies
      operationId: signIn
      description: Sets __Host-access and __Host-refresh cookies on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInRequest'
      responses:
        '200':
          description: Authenticated session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/auth/session:
    get:
      tags: [Auth]
      summary: Resolve the current access session
      operationId: getCurrentSession
      security:
        - AccessCookieAuth: []
      responses:
        '200':
          description: Current session information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /api/auth/csrf:
    get:
      tags: [Auth]
      summary: Get a CSRF token for the current session family
      operationId: getCsrfToken
      security:
        - AccessCookieAuth: []
        - RefreshCookieAuth: []
      responses:
        '200':
          description: CSRF token for stateful mutation routes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsrfResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate the refresh token and issue a new access token
      operationId: refreshSession
      security:
        - RefreshCookieAuth: []
          CsrfToken: []
      responses:
        '200':
          description: Session refreshed and cookies rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/auth/sign-out:
    post:
      tags: [Auth]
      summary: Revoke the current session family and clear cookies
      operationId: signOut
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      description: Idempotent. If no valid session exists, the route still returns 200 and clears cookies.
      responses:
        '200':
          description: Session family signed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
  /api/auth/sign-out-all:
    post:
      tags: [Auth]
      summary: Revoke all sessions for the current user and clear cookies
      operationId: signOutAll
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      description: Idempotent. If no valid session exists, the route still returns 200 and clears cookies.
      responses:
        '200':
          description: All sessions revoked for the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignOutAllResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
  /api/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Start the password reset flow
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Recovery flow accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgotPasswordResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/auth/reset-password:
    post:
      tags: [Auth]
      summary: Consume a password reset token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password updated and active sessions revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/me:
    get:
      tags: [Admin]
      summary: Get the authenticated admin and current session
      operationId: getAdminMe
      security:
        - AccessCookieAuth: []
      responses:
        '200':
          description: Authenticated admin session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/protected:
    get:
      tags: [Admin]
      summary: Smoke route to validate admin access
      operationId: getAdminProtected
      security:
        - AccessCookieAuth: []
      responses:
        '200':
          description: Admin access confirmed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectedMessageResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/domains:
    get:
      tags: [Admin]
      summary: List domains
      operationId: listAdminDomains
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: name
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated domain list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create a domain
      operationId: createAdminDomain
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreateRequest'
      responses:
        '201':
          description: Domain created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/domains/{id}:
    get:
      tags: [Admin]
      summary: Get a domain by id
      operationId: getAdminDomain
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Domain detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update a domain
      operationId: updateAdminDomain
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdateRequest'
      responses:
        '200':
          description: Domain updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Soft-delete a domain
      operationId: deleteAdminDomain
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Domain disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/aliases:
    get:
      tags: [Admin]
      summary: List aliases
      operationId: listAdminAliases
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: goto
          in: query
          required: false
          schema:
            type: string
        - name: domain
          in: query
          required: false
          schema:
            type: string
        - name: handle
          in: query
          required: false
          schema:
            type: string
        - name: address
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated alias list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAliasPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create an alias
      operationId: createAdminAlias
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAliasCreateRequest'
      responses:
        '201':
          description: Alias created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAliasMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/aliases/{id}:
    get:
      tags: [Admin]
      summary: Get an alias by id
      operationId: getAdminAlias
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Alias detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAliasItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update an alias
      operationId: updateAdminAlias
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAliasUpdateRequest'
      responses:
        '200':
          description: Alias updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAliasMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Soft-delete an alias
      operationId: deleteAdminAlias
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Alias disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAliasMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/handles:
    get:
      tags: [Admin]
      summary: List reserved handles
      operationId: listAdminHandles
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: handle
          in: query
          required: false
          schema:
            type: string
        - name: address
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated handle list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlePage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create a reserved handle
      operationId: createAdminHandle
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandleCreateRequest'
      responses:
        '201':
          description: Handle created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/handles/{id}:
    get:
      tags: [Admin]
      summary: Get a handle by id
      operationId: getAdminHandle
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Handle detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update a reserved handle
      operationId: updateAdminHandle
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandleUpdateRequest'
      responses:
        '200':
          description: Handle updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Soft-delete a reserved handle
      operationId: deleteAdminHandle
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Handle disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/bans:
    get:
      tags: [Admin]
      summary: List bans
      operationId: listAdminBans
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: ban_type
          in: query
          required: false
          schema:
            type: string
            enum: [email, domain, ip, name]
        - name: ban_value
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated ban list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create a ban
      operationId: createAdminBan
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanCreateRequest'
      responses:
        '201':
          description: Ban created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/bans/{id}:
    get:
      tags: [Admin]
      summary: Get a ban by id
      operationId: getAdminBan
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Ban detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update a ban
      operationId: updateAdminBan
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanUpdateRequest'
      responses:
        '200':
          description: Ban updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Revoke a ban
      operationId: deleteAdminBan
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Ban revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/api-tokens:
    get:
      tags: [Admin]
      summary: List API tokens
      operationId: listAdminApiTokens
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: owner_email
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [active, revoked, expired]
      responses:
        '200':
          description: Paginated API token list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create an API token
      operationId: createAdminApiToken
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTokenCreateRequest'
      responses:
        '201':
          description: API token created. The plaintext token is returned only once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/api-tokens/{id}:
    get:
      tags: [Admin]
      summary: Get an API token by id
      operationId: getAdminApiToken
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: API token detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update an API token
      operationId: updateAdminApiToken
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTokenUpdateRequest'
      responses:
        '200':
          description: API token updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Revoke an API token
      operationId: deleteAdminApiToken
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: API token revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTokenMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/users:
    get:
      tags: [Admin]
      summary: List admin-managed users
      operationId: listAdminUsers
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - $ref: '#/components/parameters/ActiveQuery'
        - name: is_admin
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BooleanLike'
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
      responses:
        '200':
          description: Paginated user list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create an admin-managed user
      operationId: createAdminUser
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserCreateRequest'
      responses:
        '201':
          description: User created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/users/{id}:
    get:
      tags: [Admin]
      summary: Get a user by id
      operationId: getAdminUser
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: User detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update a user
      operationId: updateAdminUser
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserUpdateRequest'
      responses:
        '200':
          description: User updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Soft-delete a user
      operationId: deleteAdminUser
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: User disabled and sessions revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/users/me/password:
    patch:
      tags: [Admin]
      summary: Change the authenticated admin's own password
      operationId: updateAdminOwnPassword
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminOwnPasswordUpdateRequest'
      responses:
        '200':
          description: Password updated, all current admin sessions revoked, and cookies cleared.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfPasswordUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/dns-requests:
    get:
      tags: [Admin]
      summary: List DNS requests
      operationId: listAdminDnsRequests
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/OffsetQuery'
        - name: target
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [UI, EMAIL]
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated DNS request list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRequestPage'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    post:
      tags: [Admin]
      summary: Create a DNS request
      operationId: createAdminDnsRequest
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRequestCreateRequest'
      responses:
        '201':
          description: DNS request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRequestMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
  /api/admin/dns-requests/{id}:
    get:
      tags: [Admin]
      summary: Get a DNS request by id
      operationId: getAdminDnsRequest
      security:
        - AccessCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: DNS request detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRequestItemEnvelope'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    patch:
      tags: [Admin]
      summary: Update a DNS request
      operationId: updateAdminDnsRequest
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRequestUpdateRequest'
      responses:
        '200':
          description: DNS request updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRequestMutationResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/ConflictResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
    delete:
      tags: [Admin]
      summary: Delete a DNS request
      operationId: deleteAdminDnsRequest
      security:
        - AccessCookieAuth: []
          CsrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: DNS request removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsRequestMutationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/ForbiddenResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '429':
          $ref: '#/components/responses/RateLimitedResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 64-character lowercase hexadecimal API key.
    AccessCookieAuth:
      type: apiKey
      in: cookie
      name: __Host-access
      description: Access-session cookie used for user and admin authentication.
    RefreshCookieAuth:
      type: apiKey
      in: cookie
      name: __Host-refresh
      description: Refresh-session cookie used to rotate sessions and derive CSRF tokens.
    CsrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: CSRF token derived from the current session family.
  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer
      description: Resource identifier.
    TargetPath:
      name: target
      in: path
      required: true
      schema:
        type: string
      description: DNS target identifier.
    LimitQuery:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
      description: Page size. Default 50, maximum 200.
    OffsetQuery:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Zero-based page offset.
    ActiveQuery:
      name: active
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/BooleanLike'
      description: Boolean-like filter accepting 0/1 and common textual equivalents.
  responses:
    BadRequestResponse:
      description: Invalid parameters or request-specific business rule error.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/InvalidParamsError'
              - $ref: '#/components/schemas/Error'
    UnauthorizedResponse:
      description: Missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ForbiddenResponse:
      description: Access denied, CSRF validation failed, or the request is otherwise forbidden.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BannedResponse:
      description: Request rejected because the client, email, alias, or domain is banned.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BannedError'
    NotFoundResponse:
      description: Requested resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ConflictResponse:
      description: Request conflicts with an existing resource or current state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitedResponse:
      description: Request rejected by a route-group rate limit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitedError'
        text/plain:
          schema:
            type: string
    UnsupportedMediaTypeResponse:
      description: Unsupported media type.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadGatewayResponse:
      description: Upstream dependency failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalErrorResponse:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailableResponse:
      description: Temporary unavailability or upstream timeout.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
      additionalProperties: true
    InvalidParamsError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            field:
              type: string
            reason:
              type: string
            hint:
              type: string
            constraints:
              type: object
              additionalProperties:
                type: string
    BannedError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            ban:
              type: object
              additionalProperties: true
            type:
              type: string
            value:
              type: string
    RateLimitedError:
      allOf:
        - $ref: '#/components/schemas/Error'
        - type: object
          properties:
            where:
              type: string
            reason:
              type: string
    HtmlPage:
      type: string
    FlexibleObject:
      type: object
      additionalProperties: true
    FlexibleJsonOrString:
      oneOf:
        - type: object
          additionalProperties: true
        - type: string
    BooleanLike:
      oneOf:
        - type: boolean
        - type: integer
          enum: [0, 1]
        - type: string
          enum: ['0', '1', 'true', 'false', 'yes', 'no', 'on', 'off']
    Pagination:
      type: object
      required: [total, limit, offset]
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    OffsetPagination:
      type: object
      required: [limit, offset]
      properties:
        limit:
          type: integer
        offset:
          type: integer
    MinimalUser:
      type: object
      required: [id, username, email]
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
          format: email
    PublicUser:
      type: object
      required: [id, username, email, is_active, is_admin]
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
          format: email
        email_verified_at:
          type: string
          format: date-time
          nullable: true
        is_active:
          type: integer
          enum: [0, 1]
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        last_login_at:
          type: string
          format: date-time
          nullable: true
    SessionInfo:
      type: object
      required: [session_family_id, access_expires_at, refresh_expires_at]
      properties:
        session_family_id:
          type: string
        access_expires_at:
          type: string
          format: date-time
        refresh_expires_at:
          type: string
          format: date-time
    StatsSummary:
      type: object
      required: [domains, aliases]
      properties:
        domains:
          type: integer
        aliases:
          type: integer
    ConfirmVia:
      type: object
      required: [method, path]
      properties:
        method:
          type: string
          enum: [POST]
        path:
          type: string
    ForwardSubscribeResponse:
      type: object
      required: [ok, action, alias_candidate, to, confirmation]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [subscribe]
        alias_candidate:
          type: string
        to:
          type: string
          format: email
        confirmation:
          type: object
          required: [sent, ttl_minutes]
          properties:
            sent:
              type: boolean
            ttl_minutes:
              type: integer
    ForwardUnsubscribeResponse:
      type: object
      required: [ok, action, alias, sent, ttl_minutes]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [unsubscribe]
        alias:
          type: string
        sent:
          type: boolean
        reason:
          type: string
        ttl_minutes:
          type: integer
    ForwardConfirmPreviewResponse:
      type: object
      required: [ok, pending, mutation_required, intent, confirm_via]
      properties:
        ok:
          type: boolean
        pending:
          type: boolean
        mutation_required:
          type: boolean
        intent:
          type: string
          enum: [subscribe, unsubscribe]
        address:
          type: string
        goto:
          type: string
        confirm_via:
          $ref: '#/components/schemas/ConfirmVia'
    ForwardConfirmResponse:
      type: object
      required: [ok, confirmed, intent, address]
      properties:
        ok:
          type: boolean
        confirmed:
          type: boolean
        intent:
          type: string
          enum: [subscribe, unsubscribe]
        created:
          type: boolean
        removed:
          type: boolean
        reason:
          type: string
        address:
          type: string
        goto:
          type: string
    TargetRequest:
      type: object
      required: [target]
      properties:
        target:
          type: string
    TokenBody:
      type: object
      required: [token]
      properties:
        token:
          type: string
    CredentialsCreateRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        days:
          type: integer
          minimum: 1
          maximum: 90
    CredentialsCreateConfirmation:
      type: object
      required: [sent, ttl_minutes]
      properties:
        sent:
          type: boolean
        ttl_minutes:
          type: integer
        reason:
          type: string
        status:
          type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
        last_sent_at:
          type: string
          format: date-time
          nullable: true
        next_allowed_send_at:
          type: string
          format: date-time
          nullable: true
        send_count:
          type: integer
        remaining_attempts:
          type: integer
    CredentialsCreateResponse:
      type: object
      required: [ok, action, email, confirmation]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [api_credentials_create]
        email:
          type: string
          format: email
        days:
          type: integer
        confirmation:
          $ref: '#/components/schemas/CredentialsCreateConfirmation'
    CredentialsConfirmPreviewResponse:
      type: object
      required: [ok, pending, mutation_required, email, days, confirm_via]
      properties:
        ok:
          type: boolean
        pending:
          type: boolean
        mutation_required:
          type: boolean
        email:
          type: string
          format: email
        days:
          type: integer
        confirm_via:
          $ref: '#/components/schemas/ConfirmVia'
    CredentialsConfirmResponse:
      type: object
      required: [ok, action, confirmed, email, token, token_type]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [api_credentials_confirm]
        confirmed:
          type: boolean
        email:
          type: string
          format: email
        token:
          type: string
        token_type:
          type: string
          enum: [api_key]
        expires_in_days:
          type: integer
    AliasRow:
      type: object
      required: [id, address, goto, active, created, modified]
      properties:
        id:
          type: integer
        address:
          type: string
        goto:
          type: string
        active:
          type: integer
          enum: [0, 1]
        domain_id:
          type: integer
          nullable: true
        created:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
    AliasCreateRequest:
      type: object
      required: [alias_handle, alias_domain]
      properties:
        alias_handle:
          type: string
        alias_domain:
          type: string
    AliasDeleteRequest:
      type: object
      required: [alias]
      properties:
        alias:
          type: string
    AliasListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AliasRow'
        pagination:
          $ref: '#/components/schemas/Pagination'
    AliasStatsByDomain:
      type: object
      required: [domain, total, active]
      properties:
        domain:
          type: string
        total:
          type: integer
        active:
          type: integer
    AliasStatsResponse:
      type: object
      required: [totals, active, created_last_7d, modified_last_24h, by_domain]
      properties:
        totals:
          type: integer
        active:
          type: integer
        created_last_7d:
          type: integer
        modified_last_24h:
          type: integer
        by_domain:
          type: array
          items:
            $ref: '#/components/schemas/AliasStatsByDomain'
    ActivityItem:
      type: object
      required: [type, occurred_at]
      properties:
        type:
          type: string
        occurred_at:
          type: string
          format: date-time
        route:
          type: string
          nullable: true
        intent:
          type: string
          nullable: true
        alias:
          type: string
          nullable: true
    ActivityListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ActivityItem'
        pagination:
          $ref: '#/components/schemas/OffsetPagination'
    SignUpRequest:
      type: object
      required: [email, username, password]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
          minLength: 1
          maxLength: 64
        password:
          type: string
          minLength: 8
          maxLength: 128
    SignUpResponse:
      type: object
      required: [ok, action, accepted]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [sign_up]
        accepted:
          type: boolean
    VerifyEmailResponse:
      type: object
      required: [ok, action, verified, user]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [verify_email]
        verified:
          type: boolean
        user:
          $ref: '#/components/schemas/MinimalUser'
    SignInRequest:
      type: object
      required: [identifier, password]
      properties:
        identifier:
          type: string
        password:
          type: string
          minLength: 8
          maxLength: 128
    SignInResponse:
      type: object
      required: [ok, action, authenticated, user, session]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [sign_in]
        authenticated:
          type: boolean
        user:
          $ref: '#/components/schemas/PublicUser'
        session:
          $ref: '#/components/schemas/SessionInfo'
    SessionResponse:
      type: object
      required: [ok, authenticated, user, session]
      properties:
        ok:
          type: boolean
        authenticated:
          type: boolean
        user:
          $ref: '#/components/schemas/PublicUser'
        session:
          $ref: '#/components/schemas/SessionInfo'
    CsrfResponse:
      type: object
      required: [ok, csrf_token]
      properties:
        ok:
          type: boolean
        csrf_token:
          type: string
    RefreshResponse:
      type: object
      required: [ok, action, refreshed, session]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [refresh]
        refreshed:
          type: boolean
        session:
          $ref: '#/components/schemas/SessionInfo'
    SignOutResponse:
      type: object
      required: [ok, action, signed_out]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [sign_out]
        signed_out:
          type: boolean
    SignOutAllResponse:
      type: object
      required: [ok, action, signed_out_all, sessions_revoked]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [sign_out_all]
        signed_out_all:
          type: boolean
        sessions_revoked:
          type: integer
    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
    ForgotPasswordResponse:
      type: object
      required: [ok, action, accepted, recovery]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [forgot_password]
        accepted:
          type: boolean
        recovery:
          type: object
          required: [ttl_minutes]
          properties:
            ttl_minutes:
              type: integer
    ResetPasswordRequest:
      type: object
      required: [token, new_password]
      properties:
        token:
          type: string
        new_password:
          type: string
          minLength: 8
          maxLength: 128
    ResetPasswordResponse:
      type: object
      required: [ok, action, updated, reauth_required, sessions_revoked, user]
      properties:
        ok:
          type: boolean
        action:
          type: string
          enum: [reset_password]
        updated:
          type: boolean
        reauth_required:
          type: boolean
        sessions_revoked:
          type: integer
        user:
          $ref: '#/components/schemas/MinimalUser'
    AdminMeResponse:
      type: object
      required: [ok, authenticated, admin, session]
      properties:
        ok:
          type: boolean
        authenticated:
          type: boolean
        admin:
          $ref: '#/components/schemas/PublicUser'
        session:
          $ref: '#/components/schemas/SessionInfo'
    ProtectedMessageResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string
    Domain:
      type: object
      required: [id, name, active]
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: integer
          enum: [0, 1]
    DomainCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    DomainUpdateRequest:
      type: object
      properties:
        name:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    DomainPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
        pagination:
          $ref: '#/components/schemas/Pagination'
    DomainItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/Domain'
    DomainMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/Domain'
    AdminAliasCreateRequest:
      type: object
      required: [address, goto]
      properties:
        address:
          type: string
        goto:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    AdminAliasUpdateRequest:
      type: object
      properties:
        address:
          type: string
        goto:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    AdminAliasPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AliasRow'
        pagination:
          $ref: '#/components/schemas/Pagination'
    AdminAliasItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/AliasRow'
    AdminAliasMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/AliasRow'
    Handle:
      type: object
      required: [id, handle, address, active]
      properties:
        id:
          type: integer
        handle:
          type: string
        address:
          type: string
        active:
          type: integer
          enum: [0, 1]
    HandleCreateRequest:
      type: object
      required: [handle, address]
      properties:
        handle:
          type: string
        address:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    HandleUpdateRequest:
      type: object
      properties:
        handle:
          type: string
        address:
          type: string
        active:
          $ref: '#/components/schemas/BooleanLike'
    HandlePage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Handle'
        pagination:
          $ref: '#/components/schemas/Pagination'
    HandleItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/Handle'
    HandleMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/Handle'
    Ban:
      type: object
      required: [id, ban_type, ban_value, created_at, active]
      properties:
        id:
          type: integer
        ban_type:
          type: string
          enum: [email, domain, ip, name]
        ban_value:
          type: string
        reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revoked_reason:
          type: string
          nullable: true
        active:
          type: boolean
    BanCreateRequest:
      type: object
      required: [ban_type, ban_value]
      properties:
        ban_type:
          type: string
          enum: [email, domain, ip, name]
        ban_value:
          type: string
        reason:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    BanUpdateRequest:
      type: object
      properties:
        ban_type:
          type: string
          enum: [email, domain, ip, name]
        ban_value:
          type: string
        reason:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked:
          $ref: '#/components/schemas/BooleanLike'
        revoked_reason:
          type: string
          nullable: true
    BanPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Ban'
        pagination:
          $ref: '#/components/schemas/Pagination'
    BanItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/Ban'
    BanMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/Ban'
    ApiToken:
      type: object
      required: [id, owner_email, status, created_at, active]
      properties:
        id:
          type: integer
        owner_email:
          type: string
          format: email
        status:
          type: string
          enum: [active, revoked, expired]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revoked_reason:
          type: string
          nullable: true
        created_ip:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        active:
          type: boolean
    ApiTokenCreateRequest:
      type: object
      required: [owner_email]
      properties:
        owner_email:
          type: string
          format: email
        days:
          type: integer
          minimum: 1
          maximum: 90
        user_agent:
          type: string
    ApiTokenUpdateRequest:
      type: object
      properties:
        owner_email:
          type: string
          format: email
        status:
          type: string
          enum: [active, revoked, expired]
        expires_at:
          type: string
          format: date-time
        revoked:
          $ref: '#/components/schemas/BooleanLike'
        revoked_reason:
          type: string
          nullable: true
    ApiTokenPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiToken'
        pagination:
          $ref: '#/components/schemas/Pagination'
    ApiTokenItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/ApiToken'
    ApiTokenCreateResponse:
      type: object
      required: [ok, created, token, token_type, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        token:
          type: string
        token_type:
          type: string
          enum: [api_key]
        item:
          $ref: '#/components/schemas/ApiToken'
    ApiTokenMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/ApiToken'
    AdminUserCreateRequest:
      type: object
      required: [username, email, password]
      properties:
        username:
          type: string
          minLength: 1
          maxLength: 64
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
        is_active:
          $ref: '#/components/schemas/BooleanLike'
        is_admin:
          $ref: '#/components/schemas/BooleanLike'
    AdminUserUpdateRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
          maxLength: 64
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
          maxLength: 128
        is_active:
          $ref: '#/components/schemas/BooleanLike'
        is_admin:
          $ref: '#/components/schemas/BooleanLike'
    UserPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublicUser'
        pagination:
          $ref: '#/components/schemas/Pagination'
    UserItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/PublicUser'
    UserMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/PublicUser'
    AdminOwnPasswordUpdateRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password:
          type: string
        new_password:
          type: string
          minLength: 8
          maxLength: 128
    SelfPasswordUpdateResponse:
      type: object
      required: [ok, updated, reauth_required, sessions_revoked]
      properties:
        ok:
          type: boolean
        updated:
          type: boolean
        reauth_required:
          type: boolean
        sessions_revoked:
          type: integer
    DnsRequest:
      type: object
      required: [id, target, type, status, created_at, updated_at, expires_at]
      properties:
        id:
          type: integer
        target:
          type: string
        type:
          type: string
          enum: [UI, EMAIL]
        status:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        activated_at:
          type: string
          format: date-time
          nullable: true
        last_checked_at:
          type: string
          format: date-time
          nullable: true
        next_check_at:
          type: string
          format: date-time
          nullable: true
        last_check_result_json:
          nullable: true
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
        fail_reason:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
    DnsRequestCreateRequest:
      type: object
      required: [target, type, status, expires_at]
      properties:
        target:
          type: string
        type:
          type: string
          enum: [UI, EMAIL]
        status:
          type: string
        activated_at:
          type: string
          format: date-time
          nullable: true
        last_checked_at:
          type: string
          format: date-time
          nullable: true
        next_check_at:
          type: string
          format: date-time
          nullable: true
        last_check_result_json:
          nullable: true
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
        fail_reason:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
    DnsRequestUpdateRequest:
      type: object
      properties:
        target:
          type: string
        type:
          type: string
          enum: [UI, EMAIL]
        status:
          type: string
        activated_at:
          type: string
          format: date-time
          nullable: true
        last_checked_at:
          type: string
          format: date-time
          nullable: true
        next_check_at:
          type: string
          format: date-time
          nullable: true
        last_check_result_json:
          nullable: true
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
        fail_reason:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
    DnsRequestPage:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DnsRequest'
        pagination:
          $ref: '#/components/schemas/Pagination'
    DnsRequestItemEnvelope:
      type: object
      required: [item]
      properties:
        item:
          $ref: '#/components/schemas/DnsRequest'
    DnsRequestMutationResponse:
      type: object
      required: [ok, item]
      properties:
        ok:
          type: boolean
        created:
          type: boolean
        updated:
          type: boolean
        deleted:
          type: boolean
        item:
          $ref: '#/components/schemas/DnsRequest'